@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


body{
  background-color: rgb(57, 62, 70);

}

.layout-content {
  padding-left: 250px
}

.page-heading {
    font-size: 64px;
    font-weight: bold;
    padding-left: 20px;
    color: #ffffff;
    text-decoration: underline;
}

.page-subheading {
  font-size: 32px;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 10px;
}

.page-large-body {
  font-size: 22px;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-body {
  font-size: 18px;
  color: white;
  padding-left: 20px;
  padding-top: 5px;
}

.solo-entity-page {
  position: relative;
}

.entity-card-wrapper {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 500px; /* or whatever fits your card */
}

.notes-box {
  padding: 12px;
  border-radius: 10px;
  color: #f2f2f2;
  width: 50%;
  margin-left: 7px;
  margin-top: 10px;

  cursor: text;
}

.notes-box:hover {
  border-color: #444;
}

.notes-text {
  white-space: pre-wrap;
  font-size: large;
}

.notes-editor textarea {
  width: 100%;
  min-height: 120px;

  background: #22262E;
  color: #f2f2f2;

  border: 1px solid #333;
  border-radius: 8px;

  padding: 10px;
  outline: none;
    font-size: large;

}

.notes-actions {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.notes-actions button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #2a2a2a;
  color: white;
  cursor: pointer;
}

.input-field {
  width: 100%;
  box-sizing: border-box;

  padding: 10px 12px;

  border-radius: 8px;
  border: 1px solid #2f2f2f;

  background-color: #fff;
  color: #000;

  font-size: 16px;
}

.creation-container{
 max-width: 600px;

  padding-top: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.creation-subheading {
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}

.radio-container {
  background: #1b1b1b;
  border: 1px solid #2f2f2f;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
}

.form-label {
    color: "#ffffff";
              font-weight: "bold";}

.button {
  width: 10%;
  padding: 10px 12px;

  margin: 0px 0;
  align-self: center;

  border-radius: 10px;
  border: 1px solid #3a3a3a;

  background: linear-gradient(135deg, #f5f5f5, #f5f5f5);
  color: black;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.15s ease;

  align-items: center;
  justify-content: center;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(108, 92, 231, 0.35);
}

.button svg {
  width: 16px;
  height: 16px;
}